app/src/test/resources/schemas/qoe/evex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:3gpp:metadata:2024:PSS:SupplementalEventExposureReportingFields" elementFormDefault="qualified">
    <xs:element name="SliceInfo" type="xs:anyType"/>
    <xs:element name="DNN" type="xs:anyType"/>
    <xs:element name="Locations" type="xs:anyType"/>
</xs:schema>
